@import '../../../../tools/theme/vars.scss';

.root {
    display: flex;
    flex-direction: column;
    gap: $spacing * 2;

    .checkboxes {
        display: flex;
        flex-direction: column;
        gap: $spacing;
    }
}
