@import '../../tools/theme/vars';

.root {
    padding-bottom: 20vh;

    height: fit-content;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .inner {
        padding: #{$spacing * 3} 5vw;
        max-width: 1600px;
        margin: 0 auto;

        @media (max-width: 959.95px) {
            padding: $spacing * 2;
        }
    }
}
