.root {
    height: 20vh;
    background-image: url(../../assets/images/footer.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
