@import '../../tools/theme/vars';

.root {
    height: auto;
    text-align: center;
    color: $color_text;

    .headline {
        font-family: $christmas_font;
        color: inherit;
        font-size: 3rem;
    }
}
