@import '../../../tools//theme/vars.scss';

.root {
    font-family: $normal_text_font;
    display: flex;
    flex-direction: column;
    gap: $spacing * 2;
    color: inherit;

    .headline {
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: $spacing;

        .question {
            color: inherit;
            font-family: inherit;
            font-size: 1rem;
        }
    }
}
